:where(html) {
  --a-d_instant: 0ms;
  --a-d_quick-1: 80ms;
  --a-d_quick-2: 120ms;
  --a-d_moderate-1: 180ms;
  --a-d_moderate-2: 260ms;
  --a-d_gentle-1: 320ms;
  --a-d_gentle-2: 420ms;

  --a_fade-in: fade-in var(--a-d_gentle-1) var(--ease-3);
  --a_fade-in-bloom: fade-in-bloom 2s var(--ease-3);
  --a_fade-out: fade-out var(--a-d_gentle-1) var(--ease-3);
  --a_fade-out-bloom: fade-out-bloom 2s var(--ease-3);
  --a_scale-up: scale-up var(--a-d_gentle-1) var(--ease-3);
  --a_scale-down: scale-down var(--a-d_gentle-1) var(--ease-3);
  --a_slide-out-up: slide-out-up var(--a-d_gentle-1) var(--ease-3);
  --a_slide-out-down: slide-out-down var(--a-d_gentle-1) var(--ease-3);
  --a_slide-out-right: slide-out-right var(--a-d_gentle-1) var(--ease-3);
  --a_slide-out-left: slide-out-left var(--a-d_gentle-1) var(--ease-3);
  --a_slide-in-up: slide-in-up var(--a-d_gentle-1) var(--ease-3);
  --a_slide-in-down: slide-in-down var(--a-d_gentle-1) var(--ease-3);
  --a_slide-in-right: slide-in-right var(--a-d_gentle-1) var(--ease-3);
  --a_slide-in-left: slide-in-left var(--a-d_gentle-1) var(--ease-3);
  --a_shake-x: shake-x var(--a-d_quick-1) var(--ease-out-5);
  --a_shake-y: shake-y var(--a-d_quick-1) var(--ease-out-5);
  --a_shake-z: shake-z var(--a-d_moderate-2) var(--ease-in-out-3);
  --a_spin: spin var(--a-d_moderate-2) linear infinite;
  --a_ping: ping var(--a-d_gentle-2) var(--ease-out-3) infinite;
  --a_blink: blink var(--a-d_moderate-1) var(--ease-out-3) infinite;
  --a_float: float var(--a-d_moderate-2) var(--ease-in-out-3) infinite;
  --a_bounce: bounce var(--a-d_moderate-2) var(--ease-squish-2) infinite;
  --a_pulse: pulse var(--a-d_moderate-2) var(--ease-out-3) infinite;


}

@keyframes fade-in {
  to { opacity: 1 }
}

@keyframes fade-in-bloom {
  0% { opacity: 0; filter: brightness(1) blur(20px) }
 10% { opacity: 1; filter: brightness(2) blur(10px) }
100% { opacity: 1; filter: brightness(1) blur(0) }
}

@keyframes fade-out {
  to { opacity: 0 }
}
@keyframes fade-out-bloom {
100% { opacity: 0; filter: brightness(1) blur(20px) }
 10% { opacity: 1; filter: brightness(2) blur(10px) }
  0% { opacity: 1; filter: brightness(1) blur(0) }
}

@keyframes scale-up {
  to { transform: scale(1.25) }
}

@keyframes scale-down {
  to { transform: scale(.75) }
}

@keyframes slide-out-up {
  to { transform: translateY(-100%) }
}

@keyframes slide-out-down {
  to { transform: translateY(100%) }
}

@keyframes slide-out-right {
  to { transform: translateX(100%) }
}

@keyframes slide-out-left {
  to { transform: translateX(-100%) }
}

@keyframes slide-in-up {
  from { transform: translateY(100%) }
}

@keyframes slide-in-down {
  from { transform: translateY(-100%) }
}

@keyframes slide-in-right {
  from { transform: translateX(-100%) }
}

@keyframes slide-in-left {
  from { transform: translateX(100%) }
}

@keyframes shake-x {
  0%, 100% { transform: translateX(0%) }
  20% { transform: translateX(-5%) }
  40% { transform: translateX(5%) }
  60% { transform: translateX(-5%) }
  80% { transform: translateX(5%) }
}

@keyframes shake-y {
  0%, 100% { transform: translateY(0%) }
  20% { transform: translateY(-5%) }
  40% { transform: translateY(5%) }
  60% { transform: translateY(-5%) }
  80% { transform: translateY(5%) }
}

@keyframes shake-z {
  0%, 100% { transform: rotate(0deg) }
  20% { transform: rotate(-2deg) }
  40% { transform: rotate(2deg) }
  60% { transform: rotate(-2deg) }
  80% { transform: rotate(2deg) }
}

@keyframes spin {
  to { transform: rotate(1turn) }
}

@keyframes ping {
  90%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
}

@keyframes float {
  50% { transform: translateY(-25%) }
}

@keyframes bounce {
  25% { transform: translateY(-20%) }
  40% { transform: translateY(-3%) }
  0%, 60%, 100% { transform: translateY(0) }
}

@keyframes pulse {
  50% { transform: scale(.9,.9) }
}
