---
import './close-button.css';

interface Props {
  label?: string;
  white?: boolean;
  disabled?: boolean;
  classes?: string[];
  attrs?: Record<string, unknown>;
}

const {
  label = 'Close',
  white = false,
  disabled = false,
  classes = [],
  attrs = {},
} = Astro.props;

const classList = [
  'close-button',
  white && 'close-button-white',
  ...classes,
].filter(Boolean);
---

<button
  type="button"
  class:list={classList}
  aria-label={label}
  disabled={disabled || undefined}
  {...attrs}
>
  <svg viewBox="0 0 16 16" aria-hidden="true">
    <path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/>
  </svg>
</button>
