---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '@bl/headers/header-01/Header-01.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  class: className,
} = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main class={className}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
